@model AssignUserListDto
@{
    ViewData["Title"] = "AssingUserWithWork";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="row mt-2">
    <div class="col-md-4">
        <div class="card border border-primary">
            <div class="card-header">
                <h4 class="text-center lead pt-2">Task Informations</h4>
            </div>
            <div class="card-body">
                <h5 class="card-title">@Model.Work.Name</h5>
                <p class="card-text">
                    @Model.Work.Description
                </p>
                <p class="card-text">
                    <strong>Urgency Status : </strong> <span class="badge @(Model.Work.Urgency.Description=="High"?"badge-primary":"badge-info")">@Model.Work.Urgency.Description</span>
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="card mb-3 border border-info">
            <div class="card-header">
                <h5 class="text-center lead pt-2">User Information</h5>
            </div>
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="~/img/@Model.AppUser.Picture" class="card-img w-75 h-75" alt="@Model.AppUser.Name">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">@Model.AppUser.Name @Model.AppUser.Surname</h5>
                        <p class="card-text">
                            <small class="text-muted">@Model.AppUser.Email</small>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-12">
    <form asp-action="AssignUser" method="post">
        <p class="lead text-center">Relevant user will be recruited for the following task. Are you sure you want to do this?</p>
        <div class="form-group text-center">
            <a asp-action="AssignUser" asp-route-id="@Model.Work.Id" class="btn btn-outline-warning">No, Abandon</a>
            <input type="hidden" name="AppUserId" value="@Model.AppUser.Id"/>
            <input type="hidden" name="WorkId" value="@Model.Work.Id"/>
            <button type="submit" class="btn btn-outline-info">Yes, Assign</button>
        </div>

    </form>
</div>

