@model WorkListDto
@{
    ViewData["Title"] = "AssignUser";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    string searching = (string)ViewBag.Searching;
}

<div class="row mt-2">
    <div class="col-md-12 mb-2">

        @if (!string.IsNullOrWhiteSpace(searching))
        {
            <div class="border border-dark p-3 mb-2">
                <strong>Results for the @searching</strong>
                <a asp-action="AssignUser" asp-route-id="@Model.Id" class="float-right">Remove Filter</a>
            </div>
        }

        <form method="get" asp-action="AssignUser" class="text-right">
            <input type="text" name="s" class="form-control-sm border-top-0 border-left-0 border-right-0 border-primary" />
            <button type="submit" class="btn btn-sm btn-outline-primary"><i class="fas fa-search"></i> Search</button>
        </form>
    </div>
    <div class="col-md-4">
        <div class="card border border-primary">
            <div class="card-header">
                <h4 class="text-center lead pt-2">Task Informations</h4>
            </div>
            <div class="card-body">
                <h5 class="card-title">@Model.Name</h5>
                <p class="card-text">
                    @Model.Description
                </p>
                <p class="card-text">
                    <strong>Urgency Status : </strong> <span class="badge @(Model.Urgency.Description=="High"?"badge-primary":"badge-info")">@Model.Urgency.Description</span>
                </p>
                <p class="card-text">
                    <small>
                        @Model.CreatedDate.ToString("D")
                    </small>
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-8">

        @foreach (var item in (List<AppUserListDto>)ViewBag.Users)
        {
            <div class="card mb-3 border border-info">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="~/img/@item.Picture" class="card-img w-75 h-75" alt="@item.Name">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">@item.Name @item.Surname</h5>
                            <p class="card-text"><GetWorkAppUserId app-user-id="@item.Id"></GetWorkAppUserId></p>
                            <p class="card-text">
                                <small class="text-muted">@item.Email</small>
                                <a asp-action="AssingUserWithWork" asp-route-AppUserId="@item.Id" asp-route-WorkId="@Model.Id" class="btn btn-sm btn-outline-primary float-right"><i class="fas fa-hands-helping"></i> Assign to task</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        }
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                @if (!string.IsNullOrWhiteSpace(searching))
                {
                    @for (int i = 1; i <= ViewBag.TotalPage; i++)
                    {
                        <li class="page-item @(ViewBag.ActivePage == i ? "active" : "")"><a class="page-link" asp-action="AssignUser" asp-route-id="@Model.Id" asp-route-page="@i" asp-route-s="@searching">@i</a></li>
                    }
                }
                else
                {
                    @for (int i = 1; i <= ViewBag.TotalPage; i++)
                    {
                        <li class="page-item @(ViewBag.ActivePage == i ? "active" : "")"><a class="page-link" asp-action="AssignUser" asp-route-id="@Model.Id" asp-route-page="@i">@i</a></li>
                    }
                }
            </ul>
        </nav>
    </div>
</div>

